<div class="banner_academy">
  <div class="disclaimer"><strong>LEARN TO JAM</strong></div>
  <div class="note">
    Thousands of video music lessons
  </div>
  <div>
    <%= link_to "Start", "#", class: "btn btn-ghost" %>
  </div>
</div>

<div class="nova">
  <div class="lessons">We have thousands of free lessons</div>
  <div class="note">stuff said</div>
  <div class="cardinhos">
    <div class="cardinho">
      <%= image_tag("cururu.png", width: 100, height: 100)%>
      Aqui
    </div>
    <div class="cardinho">
      <%= image_tag("cururu.png", width: 100, height: 100)%>
      Aqui
    </div>
    <div class="cardinho">
      <%= image_tag("cururu.png", width: 100, height: 100)%>
      Aqui
    </div>
    <div class="cardinho">
      <%= image_tag("cururu.png", width: 100, height: 100)%>
      Aqui
    </div>
  </div>
</div>
