<div class="banner_academy">
  <div class="disclaimer"><strong>LEARN TO JAM</strong></div>
  <div class="note">
    Thousands of video music lessons
  </div>
  <div>
    <%= link_to "Start", "#", class: "btn btn-ghost" %>
  </div>
</div>

<div class="faixa">
  <div class="lessons">We have thousands of free lessons</div>
  <div class="note-1">Whenever you feel confortable get the course full version</div>

  <div class="cards">
    <div class="card">
      <div  class="pic-card" style="background-image: url(/assets/passistas.png)">
        <p>Produção musical no samba</p>
      </div>
      <h1><strong>Mestre Josemar</strong> teaches you</h1>
    </div>
    <div class="card">
      <div  class="pic-card" style="background-image: url(/assets/passistas.png)">
        <p>Bases do chorinho</p>
      </div>
      <h1><strong>Mestre Josemar</strong> teaches you</h1>
    </div>
    <div class="card">
      <div  class="pic-card" style="background-image: url(/assets/passistas.png)">
        <p>Repertório autoral</p>
      </div>
      <h1><strong>Mia lutifa</strong> teaches you</h1>
    </div>
    <div class="card">
      <div  class="pic-card" style="background-image: url(/assets/passistas.png)">
        <p>Como registrar suas músicas</p>
      </div>
      <h1><strong>Mia lutifa</strong> teaches you</h1>
    </div>
  </div>

  <div class="note-1">
    <%= link_to "All courses", "#", class: "btn btn-ghost" %>
  </div>
</div>

<div class="chamada">
  <h1>Subscription</h1>
  <div class="note-1">Subscribe to our newsletter and swing with us!</div>
  <div class="note-1">We'll send you a free sample pack and will be updated for the latest!</div>
  <div class="email">Email</div>
</div>

<div class="faixa">
  <div class="lessons">We have thousands of free lessons</div>
  <div class="note-1">Whenever you feel confortable get the course full version</div>

  <div class="cards">
    <div class="card">
      <div  class="pic-card" style="background-image: url(/assets/passistas.png)">
        <p>Produção musical no samba</p>
      </div>
      <h1><strong>Mestre Josemar</strong> teaches you</h1>
    </div>
    <div class="card">
      <div  class="pic-card" style="background-image: url(/assets/passistas.png)">
        <p>Bases do chorinho</p>
      </div>
      <h1><strong>Mestre Josemar</strong> teaches you</h1>
    </div>
    <div class="card">
      <div  class="pic-card" style="background-image: url(/assets/passistas.png)">
        <p>Repertório autoral</p>
      </div>
      <h1><strong>Mia lutifa</strong> teaches you</h1>
    </div>
    <div class="card">
      <div  class="pic-card" style="background-image: url(/assets/passistas.png)">
        <p>Como registrar suas músicas</p>
      </div>
      <h1><strong>Mia lutifa</strong> teaches you</h1>
    </div>
  </div>

  <div class="note-1">
    <%= link_to "All courses", "#", class: "btn btn-ghost" %>
  </div>
</div>

<div class="chamada">
  <h1>Meet your mister</h1>
  <div class="note-1">Subscribe to our newsletter and swing with us!</div>
  <div class="avatars">
    <div class="avatar"><%= image_tag("flute.jpg") %></div>
    <div class="avatar"><%= image_tag("piano.jpg") %></div>
    <div class="avatar"><%= image_tag("sax.jpg") %></div>
    <div class="avatar"><%= image_tag("bass.jpg") %></div>
  </div>
  <div class="note-1">
    <%= link_to "All courses", "#", class: "btn btn-ghost" %>
  </div>
</div>
